{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<h1 class="m-4">{{ user.username }}'s tasks</h1>
{% if task_list %}
  {% for task in task_list %}
      <div class="card text-dark bg-light mb-3" style="max-width: 30rem;">
          {% include 'home/task.html' %}
      </div>
  {% endfor %}
{% else %}
  <h5>You have no tasks. Create new task.</h5>
{% endif %}
<div class="card mt-4 bg-light border-secondary" style="max-width: 30rem;">
<div class="card-body">
    <form action="{% url 'home:task_create' %}" method="post">
    {% csrf_token %}
        
      <div class="card-title">
          <label class="form-label text-muted" for="creating_name">Name</label>
          <input class="form-control" type="text" id="creating_name" name="name" required/>
      </div>
      <div class="card-text text-muted mb-2">
          <label class="form-label text-muted" for="creating_description">Description</label>
          <input class="form-control" type="text" id="creating_description" name="description"/>
      </div>

    <input class="btn btn-primary" type="submit" value="Create new task">
    <input class="btn btn-secondary m-2" type="submit" value="Cancel" onclick="window.location.href='{% url 'home:all' %}';return false;">

</form>
    </div>
</div>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger mt-3" type="submit">Logout</button>
    <input type="hidden" name="next" value="{% url "login" %}" />
</form>

{% endblock %}