{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
     <div class="card border-secondary centered p-3 mx-auto m-4" style="max-width: 20rem; border-radius: 20px;">
        <h5 class="text-center mb-4 mt-3">Login to Task Manager</h5>
        {% if form.errors %}
            <p class="text-danger">Your username and password didn't match.</p>
        {% endif %}

    <form class="text-center" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="input-group-text" id="username-text"><i class="bi-person-circle"></i></span>
            <input type="text" class="form-control form-control-sm" id="username" name="username" aria-describedby="username-text" placeholder="Username" value="{{ username }}" required>
        </div>
        {% if form.errors %}
            <div class="input-group mb-3">
                <div id="password" class="invalid-feedback">
                        Invalid password.
                      </div>
                <span class="input-group-text" id="password-text"><i class="bi-lock"></i></span>
                <input type="password" class="form-control is-invalid form-control-sm" id="password" name="password" aria-describedby="password-text" required>
            </div>
        {% else %}
             <div class="input-group mb-3">
                <span class="input-group-text" id="password-text"><i class="bi-lock"></i></span>
                <input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="Password" aria-describedby="password-text" required>
            </div>
        {% endif %}
        <div class="d-grid">
        <button type="submit" class="btn btn-dark">Login</button>
        </div>
        <input type="hidden" name="next" value="{% url 'home:all' %}" />
    </form>
    <footer class="mt-2 text-muted text-center"><small>Don't have an account? <a class="text-decoration-none fw-bold" href="{% url 'home:register' %}">Sign Up</a></small></footer>
    </div>
   
{% endblock %}